/* Custom CSS to center the modal */
.modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}
.modal-body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e0ede9;
  opacity: 81%;
  overflow: hidden;
}
.custom-text-color {
  color: #5b5757;
}
/* Initially hide the error text */
.hover-text {
  display: none;
}

/* Show the error text when hovering over the error container */
.form-text.error:hover .hover-text {
  display: inline;
  position: absolute;
  width: 100%;
  top: -25px;
  left: 100px;
  right: 0;
  text-align: right;
  color: rgb(249, 98, 98);
  text-align: right;
}

.custom-input {
  outline: none;
  box-shadow: none;
  border: none !important;
  box-shadow: none;
  border-radius: 15px !important;
}

/* CSS to remove the increment and decrement arrows */
.custom-input::-webkit-inner-spin-button,
.custom-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inner-container {
  border: 1px solid rgb(168, 166, 166);
  border-radius: 10px;
}
.inner-container:hover {
  box-shadow: 0 0 10px thistle !important;
}
.custom-input:focus {
  box-shadow: none;
  outline: none;
}
